/* 순서 첫번째. 폼요소부터 공통화 함 */

$inputDataType: text, password, tel, email;

@each $value in $inputDataType{
	input[type='#{$value}'] {
		height:44px;line-height:44px;

		font-weight:700;

		border:{
			width:1px;
			style:solid;
			color:#e8f0f9;
		}

		background-color:#e8f0f9;
		text-indent:18px;
		color:#528dff;


		&:focus {
			border-color:#528dff;
			background-color:#fff;
		}

	}
}
